<div class="item">
    <div class="thumb">
        <img src="assets/images/featured-02.jpg" alt="" style="border-radius: 20px;">
        <div class="hover-effect">
            <div class="content">
                <h4>Bored Ape Kennel Club</h4>
                <span class="author">
                    <img src="assets/images/author.jpg" alt=""
                        style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    <h6>Liberty Artist<br><a href="#">@libertyart</a></h6>
                </span>
            </div>
        </div>
    </div>
</div>